@font-face {
	font-family: FuturaStd;
	src: url('FuturaStd-Medium.otf');
}

@font-face {
	font-family: FuturaStd;
  font-style: italic;
	src: url('FuturaStd-MediumOblique.otf');
}

*:focus {outline: none;}
body,input{font-family: "FuturaStd"; color: #F6F8FA; font-size: 18px; letter-spacing: 1px; }
/* color: rgba( 246, 248, 250, 0.85);*/
input{font-size: 15px; padding-top: 7px; height: 28px;}
div.clearer {clear: both;}

div#main {background-image: url('imgs/bg_reg.png'); margin: auto; width: 760px; height: 800px;}
div#heading {background-image: url('imgs/top.png'); margin: auto; width: 760px; height: 52px;}
img.icon {margin: 11px 4px 11px 18px; float: left;}
div#heading_text {float: left; width: 200px; vertical-align: 50%; line-height: 52px; margin-left: 4px;}
img.logo_small {float: right; margin: auto 18px;}

div#login_form {background-image: url('imgs/reg_form.png'); margin: 20px auto; width: 652px; height: 538px;}
div#login_heading {float: left; margin-top: 48px; margin-left: 67px;  vertical-align: 50%; width: 530px;}
div#login_heading div.heading{float: left; margin-top: 9px; line-height: 30px; display: inline-block;}
div#form_wrapper {width: 520px; height: 390px; margin: 23px 51px 0px 80px;}

table#logintable {width: 100%;}
table#logintable tr{height: 40px;}
table#logintable td.input {width: 255px;} 
table#logintable input {border-width: 0px;}

table#logintable input.big_input {width: 245px; padding-left: 10px; background: url('imgs/input_big.png');}

div.green_button {height: 39px; cursor:pointer; display: inline-block;}
div.green_button span{height: 39px; display: inline-block;}
div.green_button span.paper_icon {background: url('imgs/paper-icon.png') no-repeat; width: 21px; height: 28px; margin: 5px 0px 0px 16px; position: relative;}
span.left_end {background: url('imgs/green-left-button.png'); width: 23px; vertical-align: top; overflow: visible;}
span.icon_padded{padding-left: 20px;}
span.button_text {background: url('imgs/green-middle-button.png'); line-height: 39px; vertical-align: top;}
span.right_end {background: url('imgs/green-right-button.png'); width: 23px; vertical-align: top;}
div.green_button a {color: inherit; text-decoration: none;}

div#register_button {float: right;}

div#submit_button {margin: auto;  margin-top: 40px;}

.fb-login-button fb_iframe_widget{
	display: none;
}
