@font-face {
	font-family: FuturaStd;
	src: url('FuturaStd-Medium.otf');
}

@font-face {
	font-family: FuturaStd;
  font-style: italic;
	src: url('FuturaStd-MediumOblique.otf');
}

*:focus {outline: none;}

body,select{font-family: "FuturaStd"; color: #F6F8FA; font-size: 18px; letter-spacing: 1px; } /* color: rgba( 246, 248, 250, 0.85);*/
select{font-size: 14px; padding: 7px 0px 0px 20px; color: #000000;}
div.clearer {clear: both;}

div#main {background-image: url('imgs/bg_reg.png'); margin: auto; width: 760px; height: 800px; overflow-x: hidden;}
div#mcont { margin: auto; width: 722px; height: 746px; overflow-x: hidden;}

div#heading {background-image: url('imgs/top.png'); margin: auto; width: 760px; height: 52px;}
img.icon {margin: 11px 4px 11px 18px; float: left;}
div#heading_text {float: left; width: 200px; vertical-align: 50%; line-height: 52px; margin-left: 4px;}
img.logo_small {float: right; margin: auto;}

div#main_heading {height: 48px; }
div#main_heading img{margin-top: -6px; margin-right: 10px; margin-left: -24px;}
div#main_heading span{ vertical-align: top;}

div#list_container {width: 2800px; margin: 0px auto 0px 50px;}
div#list_top {height: 141px; width: 652px; background: url('imgs/main-top.png');}
div.list_light{width: 572px; padding: 0 40px; background: url('imgs/main-middle1.png');}
div.list_dark{width: 572px; padding: 0 40px; background: url('imgs/main-middle2.png');}
div#list_bottom {height: 122px; width: 652px; background: url('imgs/main-bottom.png'); clear: both;}
div.list_line {height: 2px; width: 572px; background: url('imgs/line.png');}

div#list_top div.list_line {margin: 15px 40px;}

div.list_item {height: 70px;}
div.item_wrapper {height: 50px; padding-top: 0px; margin-left: 42px;}
div.list_item img{margin-right: 10px; float: left; width: 50px; padding-top: 9px}
div.right_wrapper{width: 520px; padding-top: 6px;}
div.name {font-size: 16px;}
div.vote_wrapper {float: right; margin-right: 0px; height: 30px; line-height: 30px; font-size: 16px; vertical-align: top; margin-top: 5px;}
div.vote_bar {display: inline-block; width: 402px; height: 15px; background: url('imgs/bgBarBlue.png'); vertical-align: bottom; margin: 0 5px; margin-right:50px;}
div.vote_bar div{background: url('imgs/barGrey.png'); width: 0px; height: 11px; margin-top:2px; margin-left: 2px;}
div.vote_bar div img{padding-top: 0px; float: right; width: 18px; height: 30px; margin-right: -11px;}
div.list_item div.list_line {margin-top: 17px;}

div#main_heading { line-height: 36px; width: 384px; float: left; text-align: center; margin-top: 75px;} 

div#button_left {width: 45px; height: 45px; float: left; background: url('imgs/button-left-grey.png');
               margin-top: 60px; margin-left: 70px; cursor: pointer; display: inline-block;}
div#button_right {width: 45px; height: 45px; float: right; background: url('imgs/button-right-grey.png');
               margin-top: 60px; margin-right: 70px; cursor: pointer; display: inline-block;}

div#nation_changer_wrapper {height: 28px; }
div#nation_changer {margin: 0px auto; width: 512px; text-align: right; padding: 0px 40px;}
div#nation_changer span.label{display: inline-block; margin: 5px 25px 0 0;}
div.select_wrapper {width: 259px; height: 35px; overflow: hidden;  float: right;}
select#nation_select {width: 299px; height: 35px; background: url('imgs/select.png'); outline: none; border: 0; -webkit-appearance: none;}
select#nation_select option{height: 35px;}


div.green_button {height: 35px; cursor:pointer; display: inline-block;}
div.green_button span{height: 35px; display: inline-block;}
div.green_button span.paper_icon {background: url('imgs/paper-icon.png') no-repeat; width: 21px; height: 28px; margin: 5px 0px 0px 16px; position: relative;}
div.green_button a {color: inherit; text-decoration: none;}
div#submit_button {margin: auto;  margin-top: 20px;}

div.blue_button {height: 35px; cursor:pointer; display: inline-block;}
div.blue_button span{height: 35px; display: inline-block;}
span.left_end {background: url('imgs/left-button.png'); width: 12px; vertical-align: top; overflow: visible;}
span.button_text {background: url('imgs/mid-button.png'); line-height: 35px; vertical-align: top;}
span.right_end {background: url('imgs/right-button.png'); width: 12px; vertical-align: top;}
div.blue_button a {color: inherit; text-decoration: none;}

div#country_button {margin-top: 10px;}

div#listingOne {height: 280px;}
div#listingTwo {height: 280px;}
div#listingThree {height: 280px;}
/*div#listingFour {height: 280px;}*/

.jScrollPaneContainer { width: 700px !important; float: left; }

center#menu {margin-top: 40px;}
center#menu div.blue_button {margin: auto 20px;} 

input.greenInput {
width: 50px;
padding-left: 25px;
background: url('imgs/greenNoWriteableInput.png') no-repeat;
border: 0 !important;
height: 34px;
padding-top: 0px;
color: #FFFFFF;
font-size: 15px;
}

#credit_display{
width: 150px;   
margin: 15px 0px 0px 0px;
float: right;
color: #fff;
}

#credit_display a { color: inherit; text-decoration: none; }