@font-face {
	font-family: FuturaStd;
	src: url('FuturaStd-Medium.otf');
}

@font-face {
	font-family: FuturaStd;
  font-style: italic;
	src: url('FuturaStd-MediumOblique.otf');
}

*:focus {outline: none;}
body,input{font-family: "FuturaStd"; color: #F6F8FA; font-size: 18px; letter-spacing: 1px; }
/* color: rgba( 246, 248, 250, 0.85);*/
div.clearer {clear: both;}

div#main {background-image: url('imgs/bg_reg.png'); margin: auto; width: 760px; height: 800px;}
div#heading {background-image: url('imgs/top.png'); margin: auto; width: 760px; height: 52px;}
img.icon {margin: 11px 4px 11px 18px; float: left;}
div#heading_text {float: left; width: 200px; vertical-align: 50%; line-height: 52px; margin-left: 4px;}
img.logo_small {float: right; margin: auto;}

div#pay_form {background-image: url('imgs/bgCredits.png'); margin: 20px auto; width: 652px; height: 538px;}
div.pay_heading1 {float: left; margin-top: 44px; margin-left: 55px;  vertical-align: 50%; width: 530px;}
div.pay_heading2 {float: left; margin-top: 13px; margin-left: 50px;  vertical-align: 50%; width: 551px;}
div.heading1{float: left; line-height: 48px;}
div.heading1 img{float: left; margin-right: 12px;}
div.heading2{float: left; margin-left: 50px; line-height: 48px;}
div#form_wrapper {width: 551px; height: 390px; margin: 23px 50px 0px 50px;}

div.crediti{float: left; line-height: 34px; margin-left: 35px;}
div#credit_display{float: right; margin-right: 25px;}
center#acquire_crediti div.blue_button {margin: auto 5px;}
div#asterisk{float: left; margin-left: 35px; margin-top: 22px;}

div.spacer{height: 22px;}

input{font-size: 15px; border-width: 0px; padding-top: 0px;}
input.greenInput {width: 50px; padding-left: 25px; background: url('imgs/greenNoWriteableInput.png'); height: 34px;}
input.blueInput {width: 50px; padding-left: 25px; background: url('imgs/noWriteableInput.png');  padding-top: 5px; height: 29px;}

div.blue_button {height: 35px; cursor:pointer; display: inline-block;}
div.blue_button span{height: 35px; display: inline-block;}
span.left_end {background: url('imgs/left-button.png'); width: 14px; vertical-align: top; overflow: visible;}
span.button_text {background: url('imgs/mid-button.png'); line-height: 35px; vertical-align: top;}
span.right_end {background: url('imgs/right-button.png'); width: 14px; vertical-align: top;}
div.blue_button a {color: inherit; text-decoration: none;}

div#submit_button {margin: auto;  margin-top: 40px;}

center#menu {margin-top: 40px;}
center#menu div.blue_button {margin: auto 20px;} 