@font-face {
	font-family: FuturaStd;
	src: url('FuturaStd-Medium.otf');
}

@font-face {
	font-family: FuturaStd;
  font-style: italic;
	src: url('FuturaStd-MediumOblique.otf');
}

*:focus {outline: none;}
body,input,select{font-family: "FuturaStd"; color: #F6F8FA; font-size: 18px; letter-spacing: 1px; }
/* color: rgba( 246, 248, 250, 0.85);*/
input{font-size: 15px; padding-top: 7px; height: 28px;}
select{font-size: 14px; padding: 7px 0px 0px 20px; color: #000000;}
div.clearer {clear: both;}

div#main {background-image: url('imgs/bg_reg.png'); margin: auto; width: 760px; height: 800px;}
div#heading {background-image: url('imgs/top.png'); margin: auto; width: 760px; height: 52px;}
img.icon {margin: 11px 4px 11px 18px; float: left;}
div#heading_text {float: left; width: 200px; vertical-align: 50%; line-height: 52px; margin-left: 4px;}
img.logo_small {float: right; margin: auto 18px;}

div#reg_form {background-image: url('imgs/reg_form.png'); margin: 20px auto; width: 652px; height: 538px;}
div#reg_heading {float: left; margin-top: 48px; margin-left: 67px;  vertical-align: 50%; width: 530px;}
div#reg_heading div.heading{float: left; margin-top: 9px; line-height: 30px; display: inline-block;}
div#form_wrapper {width: 520px; height: 390px; margin: 23px 51px 0px 80px;}

table#regtable {width: 100%;}
table#regtable tr{height: 40px;}
table#regtable td.input {width: 255px;} 
table#regtable input {border-width: 0px;}

table#regtable input.big_input {width: 245px; padding-left: 10px; background: url('imgs/input_big.png');}
table#regtable input.medium_input {width: 165px; padding-left: 10px; background: url('imgs/input_medium.png');}
table#regtable input.small_input_birth {width: 55px; padding-left: 20px; background: url('imgs/input_small.png');}
table#regtable input.small_input_sex {width: 45px; padding-left: 30px; background: url('imgs/input_small.png');}
table#regtable input.button_sex {padding: 0px; margin: 0px; width: 22px; height: 23px; background: url('imgs/check.png');}

table#regtable input.mini_input {width: 38px; padding-left: 20px; background: url('imgs/input_mini.png');}

table#regtable input.righted {float: right;}

input[type="checkbox"],input[type="radio"]{
  display:none;
}
input[type="checkbox"]+label,input[type="radio"]+label{
  cursor:pointer;
}
input[type="checkbox"]+label:before,input[type="radio"]+label:before{
  content:"";
  display:inline-block;
  height:33px;
  margin:-5px 0px 0 0;
  vertical-align:middle;
  width: 33px;
}
input[type="checkbox"]+label:before,input[type="radio"]+label:before{
  background: url('imgs/check_button_sprite.png') left top no-repeat;
}
input[type="checkbox"]:checked+label:before,input[type="radio"]:checked+label:before{
  background: url('imgs/check_button_sprite.png') -33px top no-repeat;
}

div#view_reg {position:relative; margin-top:20px; margin-left:40px; background:url('imgs/view_reg.png'); width: 304px; height: 38px; text-align: center; cursor: pointer;}
a:active{color:#FFFFFF;}

div.green_button {height: 39px; cursor:pointer; display: inline-block;}
div.green_button span{height: 39px; display: inline-block;}
div.green_button span.paper_icon {background: url('imgs/paper-icon.png') no-repeat; width: 21px; height: 28px; margin: 5px 0px 0px 16px; position: relative;}
span.left_end {background: url('imgs/green-left-button.png'); width: 21px; vertical-align: top; overflow: visible;}
span.icon_padded{padding-left: 20px;}
span.button_text {background: url('imgs/green-middle-button.png'); line-height: 39px; vertical-align: top;}
span.right_end {background: url('imgs/green-right-button.png'); width: 21px; vertical-align: top;}
div.green_button a {color: inherit; text-decoration: none;}

div.select_wrapper {width: 259px; height: 35px; overflow: hidden;  float: right;}
select#country {width: 299px; height: 35px; background: url('imgs/select.png'); outline: none; border: 0; -webkit-appearance: none;}
select#country option{height: 35px;}

div#login_button {float: right;}

div#agreement_button {margin: 48px 0 0 40px;}

div#agreement_checkbox {height: 39px; line-height: 39px; display: inline-block; float: right; margin: 48px 40px 0 0;}
div#agreement_checkbox label {padding-left: 5px;}

div#submit_button {margin: auto;  margin-top: 40px;}