@font-face {
	font-family: FuturaStd;
	src: url('FuturaStd-Medium.otf');
}

@font-face {
	font-family: FuturaStd;
  font-style: italic;
	src: url('FuturaStd-MediumOblique.otf');
}

*:focus {outline: none;}
body,input{font-family: "FuturaStd"; color: #F6F8FA; font-size: 18px; letter-spacing: 1px; }
/* color: rgba( 246, 248, 250, 0.85);*/
input{font-size: 15px; padding-top: 7px; height: 28px;}
div.clearer {clear: both;}

div#main {background-image: url('imgs/bg_reg.png'); margin: auto; width: 760px; height: 800px;}
div#heading {background-image: url('imgs/top.png'); margin: auto; width: 760px; height: 52px;}
img.icon {margin: 11px 4px 11px 18px; float: left;}
div#heading_text {float: left; width: 200px; vertical-align: 50%; line-height: 52px; margin-left: 4px;}
img.logo_small {float: right; margin: auto;}

div#search_form {background-image: url('imgs/reg_form.png'); margin: 20px auto; width: 652px; height: 538px;}
div#search_heading {float: left; margin-top: 48px; margin-left: 67px;  vertical-align: 50%; width: 530px;}
div#search_heading div.heading{float: left; margin-top: 9px; line-height: 30px; display: inline-block;}
div#form_wrapper {width: 520px; height: 390px; margin: 23px 51px 0px 80px;}

input.big_input {width: 245px; padding-left: 10px; background: url('imgs/input_big.png'); border-width: 0px; margin: 10px 20px 0 0;}

div.blue_button {height: 35px; cursor:pointer; display: inline-block;}
div.blue_button span{height: 35px; display: inline-block;}
span.left_end {background: url('imgs/left-button.png'); width: 14px; vertical-align: top; overflow: visible;}
span.button_text {background: url('imgs/mid-button.png'); line-height: 35px; vertical-align: top;}
span.right_end {background: url('imgs/right-button.png'); width: 14px; vertical-align: top;}
div.blue_button a {color: inherit; text-decoration: none;}

div#search_button {margin: 13px 0px 0 0; vertical-align: top;}

center#menu {margin-top: 40px;}
center#menu div.blue_button {margin: auto 20px;} 

input.greenInput {
width: 50px;
padding-left: 25px;
background: url('imgs/greenNoWriteableInput.png') no-repeat;
border: 0 !important;
height: 34px;
padding-top: 0px;
color: #FFFFFF;
font-size: 15px;
}

#credit_display{
width: 150px;   
margin: 15px 0px 0px 0px;
float: right;
color: #fff;
}

#credit_display a { color: inherit; text-decoration: none; }