div#main {background-image: url('imgs/bg_home.png'); margin: auto; width: 760px; height: 800px;}
img.logo {float: left; margin: auto;}
img.sun {float: right; margin: auto;}
div.clearer {clear: both;}
img.phone {position: relative; top: 24px;}
img.text {float: right; position: relative; bottom: 239px; right: 8px;}