@font-face {
	font-family: FuturaStd;
	src: url('FuturaStd-Medium.otf');
}

@font-face {
	font-family: FuturaStd;
  font-style: italic;
	src: url('FuturaStd-MediumOblique.otf');
}

*:focus {outline: none;}
body,select{font-family: "FuturaStd"; color: #F6F8FA; font-size: 18px; letter-spacing: 1px; } /* color: rgba( 246, 248, 250, 0.85);*/
select{font-size: 14px; padding: 7px 0px 0px 20px; color: #000000;}
div.clearer {clear: both;}

div#main {background-image: url('imgs/bg_reg.png'); margin: auto; width: 760px; height: 800px;}
div#heading {background-image: url('imgs/top.png'); margin: auto; width: 760px; height: 52px;}
img.icon {margin: 11px 4px 11px 18px; float: left;}
div#heading_text {float: left; width: 200px; vertical-align: 50%; line-height: 52px; margin-left: 4px;}
img.logo_small {float: right; margin: auto;}

div#list_container {width: 652px; margin: 0px auto 0px auto;}
div#list_top {height: 141px; width: 652px; background: url('imgs/main-top.png');}
div.list_light{width: 572px; padding: 0 40px; background: url('imgs/main-middle1.png');}
div.list_dark{width: 572px; padding: 0 40px; background: url('imgs/main-middle2.png');}
div#list_bottom {height: 122px; width: 652px; background: url('imgs/main-bottom.png');}
div.list_line {height: 2px; width: 572px; background: url('imgs/line.png');}

div#list_top div.list_line {margin: 0px 40px; position: relative; top: 137px;}

div.list_item {height: 70px;}
div.item_wrapper {height: 50px; padding-top: 10px; margin-left: 42px;}
div.list_item img{margin-right: 10px; float: left; width: 50px;}
div.name {font-size: 16px;}
div.country {float: right; margin-right: 15px;}
div.country img{float: left;}
div.country span{display: inline-block; line-height: 48px; font-size: 14px;}
div.list_item div.list_line {margin-top: 8px;}
div#vote_double {background: url("imgs/back_ground_double.png"); height:636px; width: 654px;}

div#main_heading {float: left; line-height: 36px; margin-top: 55px; margin-left: 61px; position: absolute;} 
div#button_up {width: 64px; height: 63px; background: url('imgs/button-up.png');
               margin-top: 60px; cursor: pointer; display: inline-block;}
div#button_down {width: 64px; height: 63px; background: url('imgs/button-down.png');
                 margin-top: 9px; cursor: pointer; display: inline-block;}

div#nation_changer {margin: 0px auto; width: 512px; text-align: right; padding: 0px 40px;}
div#nation_changer span.label{display: inline-block; margin: 5px 25px 0 0;}
div.select_wrapper {width: 259px; height: 35px; overflow: hidden;  float: right;}
select#nation_select {width: 299px; height: 35px; background: url('imgs/select.png'); outline: none; border: 0; -webkit-appearance: none;}
select#nation_select option{height: 35px;}

div.blue_button {height: 35px; cursor:pointer; display: inline-block;}
div.blue_button span{height: 35px; display: inline-block;}
span.left_end {background: url('imgs/left-button.png'); width: 12px; vertical-align: top; overflow: visible;}
span.button_text {background: url('imgs/mid-button.png'); line-height: 35px; vertical-align: top;}
span.right_end {background: url('imgs/right-button.png'); width: 12px; vertical-align: top;}
div.blue_button a {color: inherit; text-decoration: none;}

button.blue_button {
  float: right;
  margin-right: 10px;
  height: 35px;
  cursor: pointer;
  width: 70px;
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border: 0px;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#327bd7, endColorStr=#132c4c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#327bd7, endColorStr=#132c4c);
  display:inline-block; /* IE is so silly */
  background: -webkit-gradient(linear, 0 0, 0 75%, from(#327bd7), to(#132c4c));
  background: -moz-linear-gradient(top, #327bd7, #132c4c);
}




div#country_button {margin-top: 10px;}

div#listing {height: 280px; width: 652px;}

center#menu {margin-top: 40px;}
center#menu div.blue_button {margin: auto 20px;} 

div.vote_button{float: right; margin-right: 25px; margin-top: 7px;}

#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}
#popupVote{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:384px;
width:408px;

top: 50% !important;
left: 50% !important;
margin-top: -285px; /* Half the height */
margin-left: -204px; /* Half the width */
border-radius: 30px;


background:rgb(19,63,128);
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
}
#popupVote h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dashed #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupVoteClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
cursor: pointer;
}


input.greenInput {
width: 50px;
padding-left: 25px;
background: url('imgs/greenNoWriteableInput.png') no-repeat;
border: 0 !important;
height: 34px;
padding-top: 0px;
color: #FFFFFF;
font-size: 15px;
}

#credit_display{
width: 150px;   
margin: 15px 0px 0px 0px;
float: right;
color: #fff;
}

#credit_display a { color: inherit; text-decoration: none; }