@font-face {
	font-family: FuturaStd;
	src: url('FuturaStd-Medium.otf');
}

@font-face {
	font-family: FuturaStd;
  font-style: italic;
	src: url('FuturaStd-MediumOblique.otf');
}

*:focus {outline: none;}
body,input{font-family: "FuturaStd"; color: #F6F8FA; font-size: 18px; letter-spacing: 1px; }
/* color: rgba( 246, 248, 250, 0.85);*/
input{font-size: 15px; padding-top: 7px; height: 28px;}
div.clearer {clear: both;}

div#main {background-image: url('imgs/bg_reg.png'); margin: auto; width: 760px; height: 800px;}
div#heading {background-image: url('imgs/top.png'); margin: auto; width: 760px; height: 52px;}
img.icon {margin: 11px 4px 11px 18px; float: left;}
div#heading_text {float: left; width: 200px; vertical-align: 50%; line-height: 52px; margin-left: 4px;}
img.logo_small {float: right; margin: auto;}

div#terms_form {background-image: url('imgs/reg_form.png'); margin: 20px auto; width: 652px; height: 538px;}
div#terms_heading {float: left; margin-top: 48px; margin-left: 67px;  vertical-align: 50%; width: 530px;}
div#terms_heading div.heading{float: left; margin-top: 9px; line-height: 30px; display: inline-block;}
div#terms_scroller {width: 542px; height: 375px; margin: 20px 55px; background: rgba(255,255,255,0.5); overflow: auto;}
div#terms_scroller p{margin: 10px; font-size: 16px; color: #000000;}

div.blue_button {height: 35px; cursor:pointer; display: inline-block;}
div.blue_button span{height: 35px; display: inline-block;}
div.blue_button span.left_end {background: url('imgs/left-button.png'); width: 14px; vertical-align: top; overflow: visible;}
div.blue_button span.button_text {background: url('imgs/mid-button.png'); line-height: 35px; vertical-align: top;}
div.blue_button span.right_end {background: url('imgs/right-button.png'); width: 14px; vertical-align: top;}
div.blue_button a {color: inherit; text-decoration: none;}

center#menu {margin-top: 40px;}
center#menu div.blue_button {margin: auto 20px;} 


div.green_button {height: 39px; cursor:pointer; display: inline-block;}
div.green_button span{height: 39px; display: inline-block;}
div.green_button span.paper_icon {background: url('imgs/paper-icon.png') no-repeat; width: 21px; height: 28px; margin: 5px 0px 0px 16px; position: relative;}
div.green_button span.left_end {background: url('imgs/green-left-button.png'); width: 23px; vertical-align: top; overflow: visible;}
div.green_button span.icon_padded{padding-left: 20px;}
div.green_button span.button_text {background: url('imgs/green-middle-button.png'); line-height: 39px; vertical-align: top;}
div.green_button span.right_end {background: url('imgs/green-right-button.png'); width: 23px; vertical-align: top;}
div.green_button a {color: inherit; text-decoration: none;}

input[type="checkbox"],input[type="radio"]{
  display:none;
}
input[type="checkbox"]+label,input[type="radio"]+label{
  cursor:pointer;
}
input[type="checkbox"]+label:before,input[type="radio"]+label:before{
  content:"";
  display:inline-block;
  height:33px;
  margin:-5px 0px 0 0;
  vertical-align:middle;
  width: 33px;
}
input[type="checkbox"]+label:before,input[type="radio"]+label:before{
  background: url('imgs/check_button_sprite.png') left top no-repeat;
}
input[type="checkbox"]:checked+label:before,input[type="radio"]:checked+label:before{
  background: url('imgs/check_button_sprite.png') -33px top no-repeat;
}

div#agreement_checkbox {height: 39px; line-height: 39px; display: inline-block; float: left; margin: 10px 0 0 40px;}
div#agreement_checkbox label {padding-left: 5px;}

div#enter_button {float: right; margin: 10px 40px 0 0;}

input.greenInput {
width: 50px;
padding-left: 25px;
background: url('imgs/greenNoWriteableInput.png') no-repeat;
border: 0 !important;
height: 34px;
padding-top: 0px;
color: #FFFFFF;
font-size: 15px;
}

#credit_display{
width: 150px;   
margin: 15px 0px 0px 0px;
float: right;
color: #fff;
}
#credit_display a { color: inherit; text-decoration: none; }

img#slide{
width: 573px;
height: 422px;
}